@font-face {
    font-family: 'Poppins-ExtraBold', sans-serif;
    src: url('C:\Users\Admin\Documents\Assignment7\fonts\Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
body{
    background-color:#f0f0f0 ;
    justify-content:center ;
    display: flex;
    align-items: center;
    font-family: 'Poppins-ExtraBold', sans-serif;


}
.grid-container{
    background-color: white;
    max-width: 90vw;
    padding: 20px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:60px ;
    box-sizing: border-box;
    margin-top: 70px;
}
.item1{
    flex-direction: row; 
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 2rem;
    padding-bottom: 10px;
}
.item1 div{
     font-family: 'Poppins-ExtraBold', sans-serif;
    flex: 1 1 0;
    min-width: 50px;
}
label{
    color: grey;
}
input{
    padding: 10px;
    border-radius: 1px solid;
    width: 100%;
    box-sizing: border-box;
}
img{
    background: hsl(259, 100%, 65%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right: 0%;
    top: -1px;
    border:#864afe 10px solid;
    height: 30px;
    width: 30px;
   cursor: pointer;
}
.btn-img:hover{
    background-color:black;
    border:black 10px solid ;
}
.image{
    position: relative;
    padding-top: 20px;
}

.number1{
    border: #f0f0f0 2px solid;
    padding: 10px;
    padding-right: 50px;
    font-weight: bold;
}

.number2{
    border: #f0f0f0 2px solid;
    padding: 10px;
    padding-right: 50px;
    font-weight: bold;
}

.number3{
    border: #f0f0f0 2px solid;
    padding: 10px;
    padding-right: 50px;
    font-weight: bold;
}

.calender{
    color: gray;
    font-size: medium ;
    font-weight: bold;

}

.result{
   font-size: 50px;
   line-height:1.2;
   font-weight: bold;
   padding: 0;
    font-family: 'Poppins-ExtraBold', sans-serif;
}

@media (max-width:700px)  {
    img{
    background-color: #864afe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: px;
    transform: translateX(-50%);
    border:#864afe 10px solid;
    height: 30px;
    width: 30px;
   
}
.image{
    display: flex;
    position: relative;
}
}

